---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import HorizontalSeparator from "../components/HorizontalSeparator.astro";

import fuwawapfp from "../assets/fuwawa_icomochi_kryomel_pfp.png";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
---

<Layout
  title="snowydqys"
  description="hii im snowydqys, your amateur anime degenerate!!"
  url="https://snoyw.net"
>
  <main class="w-full flex flex-col gap-4 items-center text-white">
    <Image
      src={fuwawapfp}
      alt="Fuwawa Avatar; art by Icomochi, edit by Kryomel"
      class="w-48 h-48 lg:w-64 lg:h-64 rounded-full mt-8 avatar"
      title="Fuwawa Avatar; art by Icomochi, edit by Kryomel"
    />
    <div class="flex flex-col gap-1 items-center">
      <h1 class="text-3xl lg:text-4xl font-bold">snowydqys</h1>
      <h2
        id="sub-heading"
        class="text-sm lg:text-base italic opacity-60"
        title="Different ways of calling me"
      >
        "snowy", "snoyw", "snow"
      </h2>
    </div>
    <p
      id="main-text"
      class="text-wrap max-w-4xl text-center text-base lg:text-lg"
    >
      hii im snowy, your average amateur anime degenerate!!
      <br />
      i like to watch anime, play games, and code in my free time.
      <br />
      i also watch vtubers, with my kami oshi being <a
        href="https://u.snoyw.net/fwmc"
        class="fuwamoco-link">FUWAMOCO</a
      >.
      <br />
      feel free to contact me and say hi!! BAU BAU!!
      <Icon name="twemoji:paw-prints" class="inline" size={24} />
    </p>
    <ul role="list" class="flex flex-col gap-4">
      <HorizontalSeparator>Main Contacts</HorizontalSeparator>

      <Card
        href="https://u.snoyw.net/discord"
        title="Discord - @snowydqys"
        body="my discord account, where you can add me as a friend!!"
        icon="fa6-brands:discord"
        customAccent="88,101,242"
        customAccentLight="160,167,248"
      />
      <Card
        href="mailto:snowydqys@duck.com"
        title="Email - snowydqys@duck.com"
        body="you can also contact me via email, if you prefer (might take a while to respond)"
        icon="mdi:email"
      />

      <HorizontalSeparator>Other Socials</HorizontalSeparator>

      <Card
        href="https://u.snoyw.net/bsky"
        title="Bluesky - @snoyw.net"
        body="my new bluesky account, where i go to avoid the X (formerly Twitter) drama"
        icon="fa6-brands:bluesky"
        customAccent="0, 133, 255"
        customAccentLight="189,223,255"
      />
      <Card
        href="https://u.snoyw.net/twitter"
        title="X - @snowydqys"
        body="my X (formerly Twitter) account where i mostly like and retweet vtuber stuff"
        icon="fa6-brands:x-twitter"
        customAccent="0,0,0"
        customAccentLight="125,125,125"
      />
      <Card
        href="https://u.snoyw.net/steam"
        title="Steam - snowydqys"
        body="i play games sometimes (you are not allowed to judge me for my obsession with the NEKOPARA franchise)"
        icon="fa6-brands:steam"
        customAccent="0,173,238"
        customAccentLight="179,235,255"
      />
      <Card
        href="https://u.snoyw.net/anilist"
        title="AniList - @snowydqys"
        body="where i keep track of the anime i've watched (automated). this is the one i use the most"
        icon="simple-icons:anilist"
        customAccent="2,169,255"
        customAccentLight="200,245,255"
      />
      <Card
        href="https://u.snoyw.net/mfc"
        title="MyFigureCollection - @snowydqys"
        body="see how much money ive wasted on anime figures and other stuff"
        icon="mfc"
        customAccent="89,166,84"
        customAccentLight="178,247,173"
      />
      <Card
        href="https://u.snoyw.net/kitsu"
        title="Kitsu - @snowydqys"
        body="backup of my anime list (automated). i use this occasionally"
        icon="simple-icons:kitsu"
        customAccent="2,169,255"
        customAccentLight="200,245,255"
      />
      <Card
        href="https://u.snoyw.net/mal"
        title="MyAnimeList - @snowydqys"
        body="backup to the backup of my anime list (automated). i don't use this like at all"
        icon="simple-icons:myanimelist"
        customAccent="2,169,255"
        customAccentLight="200,245,255"
      />
      <Card
        href="https://u.snoyw.net/github"
        title="GitHub - @snowydqys"
        body="i sometimes store some of my projects and stuff here"
        icon="fa6-brands:github"
        customAccent="23,21,21"
        customAccentLight="177,169,169"
      />
      <Card
        href="https://u.snoyw.net/youtube"
        title="YouTube - @snowydqys"
        body="i don't upload but i use this to watch vtuber clips and stuff"
        icon="fa6-brands:youtube"
        customAccent="255,0,0"
        customAccentLight="200,153,153"
      />
      <Card
        href="https://u.snoyw.net/twitch"
        title="Twitch - @snowydqys"
        body="i watch vtubers on rare occasions here. i mostly watch vtubers on youtube because twitch is bad"
        icon="fa6-brands:twitch"
        customAccent="145,70,255"
        customAccentLight="203,168,255"
      />
      <Card
        href="https://u.snoyw.net/reddit"
        title="Reddit - @snowyniqhts"
        body='i mostly lurk and upvote stuff. not very active here. (also to the person who took the username "snowydqys" on reddit, i will find you~ <3)'
        icon="fa6-brands:reddit-alien"
        customAccent="255,69,0"
        customAccentLight="255,210,194"
      />
    </ul>
  </main>
</Layout>

<script>
  let susified = false;

  const susify = () => {
    if (!susified) {
      const audio = new Audio("/sus.mp3");
      audio.play();

      susified = true;

      const snows = document.querySelectorAll(
        ".snow"
      ) as NodeListOf<HTMLElement>;

      snows.forEach((snow) => {
        snow.style.background = `url("/sus.svg")`;
      });

      const snowWrapper = document.querySelector(
        ".snow-wrapper"
      ) as HTMLElement;

      snowWrapper.style.filter = "drop-shadow(0 0 10px #f00000)";

      const subHeading = document.getElementById("sub-heading") as HTMLElement;
      subHeading.innerText = "The Impostor";

      const mainText = document.getElementById("main-text") as HTMLElement;
      mainText.innerText =
        "WHEN THE IMPOSTOR IS SUS\nWHEN THE IMPOSTOR IS SUS\nWHEN THE IMPOSTOR IS SUS\nWHEN THE IMPOSTOR IS SUS";

      const avatar = document.querySelector(".avatar") as HTMLElement;
      avatar.classList.add("avatar-sus");
      avatar.classList.remove("avatar");
    } else {
      const audio = new Audio("/amongus.mp3");
      audio.volume = 0.5;
      audio.play();
    }
  };

  let sequenceStep = 0;
  let sequenceRequired = [
    "ArrowUp",
    "ArrowUp",
    "ArrowDown",
    "ArrowDown",
    "ArrowLeft",
    "ArrowRight",
    "ArrowLeft",
    "ArrowRight",
    "b",
    "a",
  ];

  document.addEventListener("keydown", (e) => {
    if (e.key === sequenceRequired[sequenceStep]) {
      sequenceStep++;

      if (sequenceStep === sequenceRequired.length) {
        susify();
        sequenceStep = 0;
      }
    } else {
      sequenceStep = 0;
    }
  });
</script>

<style lang="scss">
  .avatar {
    border: 2px solid transparent;
    border-radius: 100%;
    // background: linear-gradient(0deg, rgb(189, 218, 233), #85d4ff) border-box;
  }

  .avatar-sus {
    border: 2px solid transparent;
    border-radius: 100%;
    background: linear-gradient(0deg, #ff0000, #ffafaf) border-box;
  }

  .fuwamoco-link {
    /* text gradient */
    background: linear-gradient(
      45deg,
      rgba(86, 180, 254, 1) 0%,
      rgba(171, 169, 226, 1) 50%,
      rgba(255, 157, 198, 1) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    /* underline gradient */
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 95%;
      width: 100%;
      left: 0;
      height: 1px;
      background: linear-gradient(
        45deg,
        rgba(86, 180, 254, 1) 0%,
        rgba(171, 169, 226, 1) 50%,
        rgba(255, 157, 198, 1) 100%
      );
    }
  }
</style>
